.rounded-square {
  width: 500px;
  height: 500px;
  border-radius: 300px;
  background-color: aqua;
  animation-name: stretchy-oooo-ahhh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.rounded-square2 {
  align-content: flex-end;
  width: 500px;
  height: 500px;
  border-radius: 300px;
  background-color: aqua;
  animation-name: stretchy-oooo-ahhh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

body {
  background-color: #003600;
  display: flex;
  justify-content: space-around;
}

@keyframes stretchy-oooo-ahhh {
  from {
    width: 40px;
    height: 40px;
    border-radius: 0;
    background-color: orange;
    box-shadow: 5px 5px 7px 0px;
  }
  to {
    width: 300px;
    height: 300px;
    border-radius: 65px;
    background-color: aqua;
    box-shadow: 24px 24px 20px 0px;
    transform: rotate(360deg);
    transition: all 1s ease-in-out 0s;
  }
}

.moveIt {
  background-color: yellow;
  width: 40px;
  height: 60px;
  position: relative;
  top: 1rem;
  left: 1rem;
  /* animation: move-it-move-it 10s ease-in-out reverse;
  animation-iteration-count: infinite; */
}
.moveIt:hover {
  position: relative;
  top: 1rem;
  left: 1rem;
  /* animation: move-it-move-it 10s ease-in-out reverse;
  animation-iteration-count: infinite; */
  /* animation-duration: 2s; */
  transition: all 2s;
  transform: rotate(45deg);
}
.moveIt:active {
  background-color: pink;
}

@keyframes move-it-move-it {
  25% {
    top: 1rem;
    left: calc(100% - 200% - 1rem);
    border-radius: 1rem;
  }
  50% {
    top: calc(100% - 200% - 1rem);
    left: calc(100% - 200% - 1rem);
    border-radius: 3rem;
  }
  75% {
    top: 1rem;
    left: calc(100% - 200% - 1rem);
    border-radius: 5rem;
  }
  100% {
    top: 1rem;
    left: calc(100% - 200% - 1rem);
    border-radius: 10rem;
  }
}
