/* ========== START of pre-made CSS ========== */
/* ========= Do NOT alter this  CSS  ======== */
article {
  background-color: #023047;
  color: #fff;
  margin: 1rem;
  border-radius: 6px;
}

h4 {
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.m-1 {
  margin: 1rem;
}

#poodle {
  padding: 1rem;
}

#pit {
  padding: 1rem;
}

#belgian {
  padding: 1rem;
}

#german {
  padding: 1rem;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ========== END of pre-made CSS ========== */

/* Write your CSS HERE */

#doberman {
  padding: 1rem;
}
#hound {
  padding: 1rem;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}

a {
  color: white;
}
a:hover {
  color: yellow;
}

#audio {
  display: flex;
  justify-content: center;
}
