html,
body {
  height: 100%;
  margin: 0;
}

#container {
  background-color: rgb(249, 249, 249);
  text-align: center;
  height: 100%;
  margin: 0;
}

#header {
  margin: 0;
  padding-top: 5rem;
}

p {
  font-size: 23px;
}

hr {
  width: 40%;
}

#citizenContainer {
  text-align: start;
  margin-left: 30%;
}

#website-down {
  width: 57%;
}
